# Some Data From CVR and Public Financial Statements

In [7]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
from IPython.display import display, HTML
from IPython.display import display_html
def display_side_by_side(*args):
    html_str=''
    for df in args:
        html_str+=df.to_html()
    display_html(html_str.replace('table','table style="display:inline"'),raw=True)

## Accounting Class C, IFRS
Taken from Header table used to quickly find ids of relevant companies.

Note that gsd_IdentificationNumberCvrOfReportingEntity	is the cvrnumber but is sometimes incorrect and does not match the other reported cvr numbers from the financial report. It is not important here as we do not use it for really anything.

In [8]:
df_header_c = pd.read_csv('regnskabsklasse_c_basics.csv')
df_header_ifrs = pd.read_csv('ifrs_basics.csv')
print('Lets see accounting class C')
display(df_header_c.head(10)) # de 10 første
print('Lets see IFRS (No accounting class)')
display(df_header_ifrs.head(10)) # de 10 første

Lets see accounting class C

,financial_statement_id,currency,language,balancedato,gsd_IdentificationNumberCvrOfReportingEntity,gsd_InformationOnTypeOfSubmittedReport,gsd_ReportingPeriodStartDate,fsa_ClassOfReportingEntity,cmn_TypeOfAuditorAssistance
0,49,DKK,da,2016-12-31,89805910.0,Årsrapport,2016-01-01,"Regnskabsklasse C, stor virksomhed",Revisionspåtegning
1,75,DKK,da,2016-12-31,31753112.0,Årsrapport,2016-01-01,"Regnskabsklasse C, mellemstor virksomhed",Revisionspåtegning
2,78,DKK,da,2016-09-30,17985485.0,Årsrapport,2015-10-01,"Regnskabsklasse C, mellemstor virksomhed",Revisionspåtegning
3,83,DKK,da,2016-12-31,26324017.0,Årsrapport,2016-01-01,"Regnskabsklasse C, mellemstor virksomhed",Revisionspåtegning
4,86,DKK,da,2016-12-31,20749237.0,Årsrapport,2016-01-01,"Regnskabsklasse C, mellemstor virksomhed",Revisionspåtegning
5,102,DKK,da,2016-12-31,35527990.0,Årsrapport,2016-01-01,"Regnskabsklasse C, stor virksomhed",Revisionspåtegning
6,118,DKK,da,2016-12-31,33051662.0,Årsrapport,2016-01-01,"Regnskabsklasse C, mellemstor virksomhed",Revisionspåtegning
7,344,DKK,da,2016-12-31,21826995.0,Årsrapport,2016-01-01,"Regnskabsklasse C, mellemstor virksomhed",Revisionspåtegning
8,355,DKK,da,2016-10-31,14710485.0,Årsrapport,2015-11-01,"Regnskabsklasse C, mellemstor virksomhed",Revisionspåtegning
9,355,DKK,da,2016-10-31,14710485.0,Årsrapport,2015-11-01,"Regnskabsklasse C, mellemstor virksomhed",Revisionspåtegning

Lets see IFRS (No accounting class)

,financial_statement_id,currency,language,balancedato,gsd_IdentificationNumberCvrOfReportingEntity,gsd_InformationOnTypeOfSubmittedReport,gsd_ReportingPeriodStartDate,fsa_ClassOfReportingEntity,cmn_TypeOfAuditorAssistance
0,110,DKK,en,2016-12-31,33395361.0,Årsrapport,2016-01-01,NaN,Revisionspåtegning
1,132,DKK,da,2016-12-31,15313714.0,Årsrapport,2016-01-01,NaN,Revisionspåtegning
2,1706,DKK,en,2016-12-31,13228345.0,Årsrapport,2016-01-01,NaN,Revisionspåtegning
3,3092,DKK,en,2016-12-31,29817456.0,Årsrapport,2016-01-01,NaN,Revisionspåtegning
4,3281,DKK,en,2016-12-31,28156960.0,Årsrapport,2016-01-01,NaN,Revisionspåtegning
5,3299,DKK,da,2016-12-31,32774210.0,Årsrapport,2016-01-01,NaN,Revisionspåtegning
6,3790,DKK,da,2016-12-31,41956712.0,Årsrapport,2016-01-01,NaN,Revisionspåtegning
7,4170,DKK,da,2016-12-31,35485058.0,Årsrapport,2016-01-01,NaN,Revisionspåtegning
8,4183,DKK,da,2016-12-31,37676446.0,Årsrapport,2016-05-01,NaN,Revisionspåtegning
9,5780,DKK,da,2016-12-31,33387253.0,Årsrapport,2016-01-01,NaN,Revisionspåtegning

## Financial Numbers Accounting Class C
It is basically a key value list, note the financial statement id is unique for the financial statement.

Koncern, means consolidated.

startDate and endDate indicated whether the given key,value is from the this year or a comparison number from the previous year.

In [9]:
df_c_finance = pd.read_csv('regnskabsklasse_c_finansielle_tal.csv')
display(df_c_finance.head(10))

,financial_statement_id,fieldName,fieldValue,decimals,cvrnummer,startDate,endDate,dimensions,unitIdXbrl,koncern
0,49,fsa:LiabilitiesAndEquity,1594067,0.0,29808538,NaN,2015-12-31,NaN,iso4217:DKK,0
1,49,fsa:CurrentAssets,1238159,0.0,29808538,NaN,2016-12-31,NaN,iso4217:DKK,0
2,49,fsa:CashAndCashEquivalents,1238159,0.0,29808538,NaN,2016-12-31,NaN,iso4217:DKK,0
3,49,fsa:NoncurrentAssets,1594067,0.0,29808538,NaN,2015-12-31,NaN,iso4217:DKK,0
4,49,fsa:ShorttermLiabilitiesOtherThanProvisions,30870,0.0,29808538,NaN,2015-12-31,NaN,iso4217:DKK,0
5,49,fsa:LiabilitiesOtherThanProvisions,30870,0.0,29808538,NaN,2015-12-31,NaN,iso4217:DKK,0
6,49,fsa:Equity,1563197,0.0,29808538,NaN,2015-12-31,NaN,iso4217:DKK,0
7,49,fsa:LongtermInvestmentsAndReceivables,1594067,0.0,29808538,NaN,2015-12-31,NaN,iso4217:DKK,0
8,49,fsa:ShorttermLiabilitiesOtherThanProvisions,37490,0.0,29808538,NaN,2016-12-31,NaN,iso4217:DKK,0
9,49,fsa:Assets,1594067,0.0,29808538,NaN,2015-12-31,NaN,iso4217:DKK,0

## Financial Numbers IFRS
For this you get it all. 

Note that not all are IFRS companies but companies that did not fill the accounting class properly.

In [10]:
df_ifrs_finance = pd.read_csv('ifrs_finansielle_tal.csv')
display(df_ifrs_finance.head(10))

,id,financial_statement_id,fieldName,fieldValue,decimals,cvrnummer,startDate,endDate,dimensions,unitIdXbrl,koncern
0,15449,110,gsd:NameOfReportingEntity,Gummersbach 2003 ApS,NaN,27416349,2016-01-01,2016-12-31,NaN,NaN,0
1,15456,110,fsa:ProfitLoss_RetainedEarningsMember,0,0.0,27416349,2016-01-01,2016-12-31,NaN,iso4217:DKK,0
2,15461,110,fsa:CurrentAssets,130000,0.0,27416349,NaN,2016-12-31,NaN,iso4217:DKK,0
3,15465,110,gsd:AddressOfAuditorStreetBuildingIdentifier_a...,9,NaN,27416349,2016-01-01,2016-12-31,1.0,NaN,0
4,15469,110,arr:OpinionOnAuditedFinancialStatements,"Det er vores opfattelse, at årsregnskabet give...",NaN,27416349,2016-01-01,2016-12-31,NaN,NaN,0
5,15473,110,fsa:ShorttermReceivables,130000,0.0,27416349,NaN,2016-12-31,NaN,iso4217:DKK,0
6,15477,110,fsa:DescriptionOfMethodsOfRecognitionAndMeasur...,Tilgodehavender måles til amortiseret kostpris...,NaN,27416349,2016-01-01,2016-12-31,NaN,NaN,0
7,15481,110,sob:ConfirmationThatFinancialStatementGivesTru...,"Det er min opfattelse, at årsregnskabet giver ...",NaN,27416349,2016-01-01,2016-12-31,NaN,NaN,0
8,15485,110,fsa:DescriptionOfMethodsOfRecognitionAndMeasur...,Bruttotab indeholder andre eksterne omkostninger.,NaN,27416349,2016-01-01,2016-12-31,NaN,NaN,0
9,15489,110,fsa:DisclosureOfMainActivitiesAndAccountingAnd...,Selskabets formål er at drive aktiviteter i fo...,NaN,27416349,2016-01-01,2016-12-31,NaN,NaN,0

# Industri Codes and Company Types
**Gyldigtil = 2200-01-01 means still valid**

In [11]:
df_virkform = pd.read_csv('virksomhed_former.csv')
df_industri = pd.read_csv('virksomhed_brancher.csv')
print('Company Type')
display(df_virkform.head(10))
print('Industri Codes')
display(df_industri.head(10))

Company Type

,cvrnummer,formkode,kortbeskrivelse,langbeskrivelse,gyldigfra,gyldigtil
0,11918786,30,I/S,Interessentskab,1999-01-03,2200-01-01
1,24252019,30,I/S,Interessentskab,1996-09-01,2200-01-01
2,33757093,30,I/S,Interessentskab,2011-06-10,2200-01-01
3,10619246,30,I/S,Interessentskab,1986-12-01,2200-01-01
4,19971945,30,I/S,Interessentskab,1997-02-26,2014-10-08
5,20048085,30,I/S,Interessentskab,1997-02-24,2019-01-09
6,24255298,30,I/S,Interessentskab,1999-07-01,2200-01-01
7,24246787,30,I/S,Interessentskab,1999-10-16,2200-01-01
8,25714229,30,I/S,Interessentskab,2000-05-01,2200-01-01
9,25813286,30,I/S,Interessentskab,2000-12-15,2200-01-01

Industri Codes

,enhedsnummer,cvrnummer,felttype,branchekode,branchetekst,gyldigfra,gyldigtil
0,2551095,10000157,hovedbranche,642020,Ikke-finansielle holdingselskaber,2008-01-01,2200-01-01
1,4001248440,10000416,hovedbranche,642020,Ikke-finansielle holdingselskaber,2008-01-02,2200-01-01
2,3357042,10000866,bibranche1,682040,Udlejning af erhvervsejendomme,2017-03-01,2200-01-01
3,3357042,10000866,hovedbranche,642020,Ikke-finansielle holdingselskaber,2009-01-01,2200-01-01
4,4001256597,10006252,hovedbranche,466300,Engroshandel med maskiner til minedrift og byg...,2008-01-01,2200-01-01
5,4000769967,10007127,bibranche1,682040,Udlejning af erhvervsejendomme,2008-01-01,2200-01-01
6,4000769967,10007127,hovedbranche,201400,Fremstilling af andre organiske basiskemikalier,2008-01-01,2200-01-01
7,4001256892,10007828,hovedbranche,642020,Ikke-finansielle holdingselskaber,2008-01-01,2200-01-01
8,4001256895,10008050,hovedbranche,611000,Fastnetbaseret telekommunikation,2013-12-01,2018-02-12
9,4001256898,10008123,bibranche1,631100,"Databehandling, webhosting og lignende service...",2008-01-02,2200-01-01

# Owners and Accountant
**The owner/accountant is called deltagaer**

In [12]:
df_leg = pd.read_csv('legalle_ejere.csv')
print("Legal Owners")
display(df_leg.head(10))
print("Reel Owners")
df_reel = pd.read_csv('reelle_ejere.csv')
display(df_reel.head(10))
print("Accountants")
df_revisor = pd.read_csv('revisor.csv')
display(df_revisor.head(10))

Legal Owners

,orgnavn,enhedsnummer_deltager,enhedsnummer_virksomhed,vaerdinavn,vaerdi,gyldigfra,gyldigtil,enhedstype_deltager,cvrnummer_deltager,cvrnummer_virksomhed
0,EJERREGISTER,3731969,4445829,EJERANDEL_STEMMERET_PROCENT,0.5,2014-12-18,2200-01-01,VIRKSOMHED,17693786,71172112
1,EJERREGISTER,3731969,4445829,EJERANDEL_MEDDELELSE_DATO,2014-12-18,2014-12-18,2200-01-01,VIRKSOMHED,17693786,71172112
2,EJERREGISTER,3731969,4445829,EJERANDEL_PROCENT,0.5,2014-12-18,2200-01-01,VIRKSOMHED,17693786,71172112
3,EJERREGISTER,5427309,4445829,EJERANDEL_PROCENT,0.05,2014-12-18,2200-01-01,VIRKSOMHED,33881606,71172112
4,EJERREGISTER,5427309,4445829,EJERANDEL_STEMMERET_PROCENT,0.05,2014-12-18,2200-01-01,VIRKSOMHED,33881606,71172112
5,EJERREGISTER,5427309,4445829,EJERANDEL_MEDDELELSE_DATO,2014-12-18,2014-12-18,2200-01-01,VIRKSOMHED,33881606,71172112
6,EJERREGISTER,4001883567,4445829,EJERANDEL_PROCENT,0.25,2014-12-18,2200-01-01,VIRKSOMHED,34074178,71172112
7,EJERREGISTER,4001883567,4445829,EJERANDEL_STEMMERET_PROCENT,0.25,2014-12-18,2200-01-01,VIRKSOMHED,34074178,71172112
8,EJERREGISTER,4001883567,4445829,EJERANDEL_MEDDELELSE_DATO,2014-12-18,2014-12-18,2200-01-01,VIRKSOMHED,34074178,71172112
9,EJERREGISTER,4006132848,5777784,EJERANDEL_STEMMERET_PROCENT,1.0,2008-07-09,2200-01-01,ANDEN_DELTAGER,-1,30507029

Reel Owners

,orgnavn,enhedsnummer_deltager,enhedsnummer_virksomhed,vaerdinavn,vaerdi,gyldigfra,gyldigtil,enhedstype_deltager,cvrnummer_deltager,cvrnummer_virksomhed
0,Reelle ejere,4003889845,4445829,FUNKTION,Reel ejer,2006-05-01,2200-01-01,PERSON,-1,71172112
1,Reelle ejere,4003889845,4445829,SÆRLIGE_EJERFORHOLD,Har indirekte besiddelser,2006-05-01,2200-01-01,PERSON,-1,71172112
2,Reelle ejere,4003889845,4445829,EJERANDEL_PROCENT,0.92,2006-05-01,2200-01-01,PERSON,-1,71172112
3,Reelle ejere,4003889845,4445829,EJERANDEL_STEMMERET_PROCENT,0.92,2006-05-01,2200-01-01,PERSON,-1,71172112
4,Reelle ejere,4004261698,5777784,EJERANDEL_PROCENT,0.6276,2008-07-09,2200-01-01,ANDEN_DELTAGER,-1,30507029
5,Reelle ejere,4004261698,5777784,SÆRLIGE_EJERFORHOLD,Har indirekte besiddelser,2008-07-09,2200-01-01,ANDEN_DELTAGER,-1,30507029
6,Reelle ejere,4004261698,5777784,EJERANDEL_STEMMERET_PROCENT,0.97,2008-07-09,2200-01-01,ANDEN_DELTAGER,-1,30507029
7,Reelle ejere,4004261698,5777784,FUNKTION,Reel ejer,2008-07-09,2200-01-01,ANDEN_DELTAGER,-1,30507029
8,Reelle ejere,4003996726,4000332722,FUNKTION,Reel ejer,1957-09-27,2017-11-27,PERSON,-1,20283416
9,Reelle ejere,4004045039,4000332722,FUNKTION,Reel ejer,1957-09-27,2017-08-30,PERSON,-1,20283416

Accountants

,orgnavn,enhedsnummer_deltager,enhedsnummer_virksomhed,vaerdinavn,vaerdi,gyldigfra,gyldigtil,enhedstype_deltager,cvrnummer_deltager,cvrnummer_virksomhed,enhedstype_deltager.1,cvrnummer_deltager.1,cvrnummer_virksomhed.1
0,Reelle ejere,4003889845,4445829,FUNKTION,Reel ejer,2006-05-01,2200-01-01,PERSON,-1,71172112,PERSON,-1,71172112
1,Reelle ejere,4003889845,4445829,SÆRLIGE_EJERFORHOLD,Har indirekte besiddelser,2006-05-01,2200-01-01,PERSON,-1,71172112,PERSON,-1,71172112
2,Reelle ejere,4003889845,4445829,EJERANDEL_PROCENT,0.92,2006-05-01,2200-01-01,PERSON,-1,71172112,PERSON,-1,71172112
3,Reelle ejere,4003889845,4445829,EJERANDEL_STEMMERET_PROCENT,0.92,2006-05-01,2200-01-01,PERSON,-1,71172112,PERSON,-1,71172112
4,Reelle ejere,4004261698,5777784,EJERANDEL_PROCENT,0.6276,2008-07-09,2200-01-01,ANDEN_DELTAGER,-1,30507029,ANDEN_DELTAGER,-1,30507029
5,Reelle ejere,4004261698,5777784,SÆRLIGE_EJERFORHOLD,Har indirekte besiddelser,2008-07-09,2200-01-01,ANDEN_DELTAGER,-1,30507029,ANDEN_DELTAGER,-1,30507029
6,Reelle ejere,4004261698,5777784,EJERANDEL_STEMMERET_PROCENT,0.97,2008-07-09,2200-01-01,ANDEN_DELTAGER,-1,30507029,ANDEN_DELTAGER,-1,30507029
7,Reelle ejere,4004261698,5777784,FUNKTION,Reel ejer,2008-07-09,2200-01-01,ANDEN_DELTAGER,-1,30507029,ANDEN_DELTAGER,-1,30507029
8,Reelle ejere,4003996726,4000332722,FUNKTION,Reel ejer,1957-09-27,2017-11-27,PERSON,-1,20283416,PERSON,-1,20283416
9,Reelle ejere,4004045039,4000332722,FUNKTION,Reel ejer,1957-09-27,2017-08-30,PERSON,-1,20283416,PERSON,-1,20283416

# Stock market

In [13]:
df_boers = pd.read_csv('boersnoteteet.csv')
display(df_boers.head(10))

,enhedsnummer,cvrnummer,vaerdinavn,vaerdi,vaerditype,sekvensnr,gyldigfra,gyldigtil,sidstopdateret
0,4001467641,28118546,BØRSNOTERET,True,boolean,0,2007-01-01,2015-03-03,NaN
1,4001495171,28486669,BØRSNOTERET,True,boolean,0,2007-01-01,2015-03-03,NaN
2,4001430759,27492797,BØRSNOTERET,True,boolean,0,2005-01-01,2017-11-30,NaN
3,3047225,27241654,BØRSNOTERET,True,boolean,0,2005-01-01,2016-01-26,NaN
4,4000984001,18984431,BØRSNOTERET,True,boolean,0,2013-01-01,2016-08-02,NaN
5,4000984001,18984431,BØRSNOTERET,False,boolean,0,2016-08-03,2019-01-03,NaN
6,4000330809,12617917,BØRSNOTERET,True,boolean,0,2005-01-01,2019-04-05,NaN
7,4001520739,28710240,BØRSNOTERET,True,boolean,0,2007-01-01,2200-01-01,NaN
8,4001143425,49639910,BØRSNOTERET,True,boolean,0,2005-01-01,2200-01-01,NaN
9,4001435494,27470521,BØRSNOTERET,True,boolean,0,2005-01-01,2017-09-05,NaN